<div class='container'>
  <div class='col-md-4 col-md-offset-4'>
    <h1 align='center'> Aash's Survey Site </h1>
    <br>
    <p align='center'> Click on a survey to take it or create one on your own </p>
    <button type="button" class="btn btn-primary btn-lg btn-block"><%=link_to "Create Survey",new_surveys_builder_path%></button>
  </div>
</div>

<div class='container'>
  <div class='col-md-4 col-md-offset-4'>
    <h2> Take a Survey</h2>
    <% @surveys.each do |survey| %>
      <%= survey.title %>
      <br>
      <%= survey.description %>
      <br>
      <%= link_to "Take this survey", edit_survey_path(survey)%>
      <br>
      <br>
    <%end%>

  </div>
</div>
